/*Start==Main Body*/
.col-lg-5 p {
	margin-left: 20px;
}
body {
    font: 76% arial,sans-serif;
    text-align:center;
    background-color: #002d3d;
    margin:  0px;  
}
p {
    margin:0 10px 10px;
}
/* a { */
/*     display:block; */
/*     color: #981793; */
/*     padding:10px; */
/* } */
/*End==Main Body*/
/*Start==div*/
/*background*/
div#background {
    background-color: #002d3d;
}
/*Profile LINKS*/
div#headProtector {
	margin-top: 48px;
}
.navbar-brand {
	display: inline-block;
}
.navbar-brand img{
	opacity: 0.8;
}
.navbar-brand img:hover {
	opacity: 1;
} 
div#profile a {
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
    color: #696969;
}
div#profile a:hover, a:focus {
    color: white;
	text-decoration: none;
}
/* div#tabs {
    padding:  0px;
    margin:  0px auto;
}
div#tabs ul {
    text-align: left;
    padding:  0px;
    margin:  0px auto;
    border-style: solid;
    border-color: #696969;
    border-width: 2px 0px 0px 0px; 
}
div#tabs ul li {
    display:  inline;
    padding:  0px;
    margin:  0px auto;
}
div#tabs ul li a {
	display: inline-block;
	text-decoration: none;
    color: #696969;
    
}
div#tabs ul li a:hover {
    color: white;

} */
/*THE END*/
/*header*/
div#header {
    width:  1024px;
    margin: 0 auto;
}
div#header h1{
    color: white;
    text-align: left;
    margin: 0px 0px 0px 5%;
}
div#header h2{
    color: #CDCCCC;
    text-align: left;
    margin-left: 15%;
}
div#homeHeader {
	/* background-image: url('../images/headerBG1.jpg'); */
	background-color: #097599;
	color: white; 
	padding: 40px 0px;
}
/* #homeHeader a {
	color: #002d3d;
} */
/*container*/
div#bodyContainer {
    text-align:center;
    width:  1024px;
    margin: 0px auto 0px;      
}
/*content*/
div#contentHolder {
	min-height: 500px;
}
div#contentWrapper {
	min-height: 500px;
	background-color: #ccecf4;
}
div#contentBody {
	background-color: #ccecf4;
}
#contentBody img#thumbnail {
	width: 140px;
	height: 140px;
	margin: 10px auto;
}
div#contentLink {
	text-align: left;
}
#contentLink ul {
	list-style-type: none;
}
#contentLink a {
	text-decoration: none;
	display: inline-block;
	color: black;
}
#contentLink a:hover, a:focus {
	text-decoration: underline;
	color: blue;
}
./* col-md-6:hover,
.col-md-6:focus {
	border: 2px solid white;
    opacity: 1;
}
.col-md-6 {
	border: 2px solid #ccecf4;
	opacity: 0.8;
} */
div#content {
    background-color: #ccecf4;
    width:1024px;
}
/*fLinkStrip*/
/* div#fLinkStrip {
    background-image:  url('../images/fStrip.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:  20px;
} */
/*fLinks*/
div#fLinks {
    /* background-image: url('../../resources/images/fLBg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    background-color: #333333;
    color: white;
    clear: both;
    text-align: left;
/* 	padding: 50px; */
}
#fLinks h5 {
	padding-left: 10px;
	font-size: 16px;
}
#sitemap {
    margin: 20px auto;
}
#sitemap ul {
	list-style-type: none;
}
#sitemap li {
	margin: 5px auto;
}
#sitemap a {
	color: white;
	font-size: 13px;
    text-decoration: none;
    display: inline-block;
    padding: 0px;
    margin:  0px 0px 0px 5px;
}
#sitemap a:hover {
    color: gray;
}
#sitemap a img:hover {
	opacity: 0.4;
}
/*fBanner*/
/* div#fBanner {
    background:#FF8539;
    background-image:  url('../images/fBanner.jpg');
    height: 150px;
} */
/*footer*/
div#footer {
    background: #ccecf4;
    color: #696969;
}
div#footer p {
	padding: 10px 10px;
    float: right;
}
div#footer ul {
    text-align: left;
    list-style-type: none;
}
div#footer ul li {

}
div#footer ul li a {
	display: inline-block;
	background-color: #ccecf4;
	padding: 10px 10px;
	text-decoration: none;
    color: #696969;
}
div#footer ul li a:hover {
    color: white;
}
/*End==div*/

div#location {
	text-align: left;
	margin: 0px auto;
}
#location a {
	display: inline-block;
	text-decoration: none;
}
#location a:hover,
#location a:focus {
	opacity: 0.7;
}

.districtControl {
	font-size: x-small;
}
